<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="pdfReport" class="org.springframework.web.servlet.view.jasperreports.JasperReportsPdfView">
        <property name="url" value="classpath:org/example/spring/jasperreport/report/example.jrxml" />
        <property name="reportDataKey" value="basketReport" />
    </bean>


</beans>